<b-app-header>
</b-app-header>
<section id="main-content" style="margin-left: 180px;">
  <section class="wrapper">
    <section class="panel">
      <header class="panel-heading">
        Dados Gerais de Consumo
      </header>
      <div class="col-lg-6">
        <section class="panel">
          <header class="panel-heading">
            Consumo Geral
          </header>
          <div class="panel-body text-center">
            <canvas id="bar" height="300" width="500" style="width: 500px; height: 300px;"></canvas>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="panel">
          <header class="panel-heading">
            Consumo de Energia
          </header>
          <div class="panel-body text-center">
            <canvas id="bar" height="300" width="500" style="width: 500px; height: 300px;"></canvas>
          </div>
        </section>
      </div>

      <div class="col-lg-6">
        <section class="panel">
          <header class="panel-heading">
            Consumo de Água
          </header>
          <div class="panel-body text-center">
            <canvas id="bar" height="300" width="500" style="width: 500px; height: 300px;"></canvas>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="panel">
          <header class="panel-heading">
            Consumo de Gás
          </header>
          <div class="panel-body text-center">
            <canvas id="bar" height="300" width="500" style="width: 500px; height: 300px;"></canvas>
          </div>
        </section>
      </div>

    </section>
  </section>
</section>