
<b-app-header></b-app-header>
<section id="main-content" style="margin-left: 180px;">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
          <li><i class="fa fa-laptop"></i>Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
          <i class="fa fa-users"></i>
          <div class="count">274</div>
          <div class="title">Moradores</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
          <i class="fa fa-car"></i>
          <div class="count">88</div>
          <div class="title">Estacionamento - Carros</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
          <i class="fa fa-truck"></i>
          <div class="count">5</div>
          <div class="title">Mudanças(Semana)</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
          <i class="fa fa-money"></i>
          <div class="count">R$ 12.721,01</div>
          <div class="title">Caixa - Condomínio</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><i class="fa fa-map-marker red"></i><strong>Localização</strong></h2>
            <div class="panel-actions">
              <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
              <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
              <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="panel-body-map">
            <div id="map" style="height:380px;">
              <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <sebm-google-map-marker [title]="condominio" [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
              </sebm-google-map>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3 portlets">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left">Mensagens</div>
            <div class="widget-icons pull-right">
              <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
              <a href="#" class="wclose"><i class="fa fa-times"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="panel-body">
            <div class="padd sscroll">
              <ul class="chats">
                <li class="by-me">
                  <div class="avatar pull-left">
                    <img src="img/user.jpg" alt="">
                  </div>
                  <div class="chat-content">
                    <div class="chat-meta">Morador A<span class="pull-right">3 horas atras</span></div>
                    O elevador do prédio A está com problemas.
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li class="by-other">
                  <div class="avatar pull-right">
                    <img src="img/user22.png" alt="">
                  </div>
                  <div class="chat-content">
                    <div class="chat-meta">3 horas atras <span class="pull-right">Síndico</span></div>
                    Consegue descrever quais são os problemas.
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li class="by-me">
                  <div class="avatar pull-left">
                    <img src="img/user.jpg" alt="">
                  </div>

                  <div class="chat-content">
                    <div class="chat-meta">Morador A<span class="pull-right">4 horas atras</span></div>
                    A boteira travou e não consigo chamar o elevador no meu andar.
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li class="by-other">
                  <div class="avatar pull-right">
                    <img src="img/user22.png" alt="">
                  </div>
                  <div class="chat-content">
                    <div class="chat-meta">3 horas atras <span class="pull-right">Síndico</span></div>
                    OK, sem problemas vou abrir um chamado na manutenção e te passo o número para vc acompanhar, tem mais alguma coisa em que
                    posso te ajudar
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="widget-foot">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Type your message here...">
                </div>
                <button type="submit" class="btn btn-info">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
