<div class="login-img3-body">
  <div class="container">
    <section class="panel">
      <header class="panel-heading">
        Dados da nova Rede
      </header>
      <div class="panel-body">
        <form role="form">

          <li id="ctl00_phMasterPage_cInsertTabs_Tab1" class="number1 fActivePre">
            <div class="tabCircle">
              <span class="tabCheck"></span>
              <span class="tabNum">1</span>
            </div>
            <span class="stepTitle">Dados de acesso</span>
            <span class="tabSeparator"></span>
          </li>

          <li id="ctl00_phMasterPage_cInsertTabs_Tab2" class="number2 active">
            <div class="tabCircle">
              <span class="tabCheck"></span>
              <span class="tabNum">2</span>
            </div>
            <span class="stepTitle">Dados do CV</span>
            <span class="tabSeparator"></span>
          </li>

          <li id="ctl00_phMasterPage_cInsertTabs_Tab3" class="number3">
            <div class="tabCircle">
              <span class="tabCheck"></span>
              <span class="tabNum">3</span>
            </div>
            <span class="stepTitle">Melhorar CV</span>
          </li>
          <div class="form-group">
            <label for="exampleInputEmail1">Nome da Rede:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Foto</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Foto background rede.</p>
          </div>

          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <button type="submit" class="btn btn-primary">Cancelar</button>
        </form>

      </div>
    </section>

  </div>
</div>