<div class="login-img3-body">
  <div class="container">
    <section class="panel">
      <header class="panel-heading">
        Passo 1 - Defina sua rede
      </header>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome da Rede:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome da Rede">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tipo de Rede:</label>
            <select class="form-control m-bot15">
          <option>Rede Residencial</option>
          <option>Rede Comercial</option>
          <option>Rede Social Apenas</option>          
        </select>
          </div>
          <div id="editor" class="btn-toolbar cke_editable cke_editable_inline cke_contents_ltr" data-role="editor-toolbar" data-target="#editor"
            contenteditable="true" tabindex="0" spellcheck="false" role="textbox" aria-label="Editor de Texto, editor" title="Editor de Texto, editor"
            aria-describedby="cke_48" style="position: relative;">
            <p><br></p>
          </div>
          <button type="submit" class="btn btn-primary">Avançar</button>
          <button type="submit" class="btn btn-primary">Cancelar</button>
        </form>

      </div>
    </section>
  </div>
</div>