<b-app-header>
</b-app-header>
<section id="main-content" style="margin-left: 180px;">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Edificio</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
          <li><i class="fa fa-laptop"></i>Edificio</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Registrar Edificio
          </header>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><strong>Calendar</strong></h2>
              <div class="panel-actions">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
              </div>

            </div><br><br><br>
            <div class="panel-body">
              <!-- Widget content -->

              <!-- Below line produces calendar. I am using FullCalendar plugin. -->
              <div id="calendar" class="fc">
                <table class="fc-header" style="width:100%">
                  <tbody>
                    <tr>
                      <td class="fc-header-left"><span class="fc-button fc-button-prev fc-state-default fc-corner-left"><span class="fc-button-inner"><span class="fc-button-content">&nbsp;◄&nbsp;</span>
                        <span
                          class="fc-button-effect"><span></span></span>
                          </span>
                          </span><span class="fc-button fc-button-next fc-state-default fc-corner-right"><span class="fc-button-inner"><span class="fc-button-content">&nbsp;►&nbsp;</span>
                          <span
                            class="fc-button-effect"><span></span></span>
                            </span>
                            </span><span class="fc-header-space"></span><span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled"><span class="fc-button-inner"><span class="fc-button-content">today</span>
                            <span
                              class="fc-button-effect"><span></span></span>
                              </span>
                              </span>
                      </td>
                      <td class="fc-header-center"><span class="fc-header-title"><h2>April 2017</h2></span></td>
                      <td class="fc-header-right"><span class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active"><span class="fc-button-inner"><span class="fc-button-content">month</span>
                        <span
                          class="fc-button-effect"><span></span></span>
                          </span>
                          </span><span class="fc-button fc-button-basicWeek fc-state-default"><span class="fc-button-inner"><span class="fc-button-content">week</span>
                          <span
                            class="fc-button-effect"><span></span></span>
                            </span>
                            </span><span class="fc-button fc-button-basicDay fc-state-default fc-corner-right"><span class="fc-button-inner"><span class="fc-button-content">day</span>
                            <span
                              class="fc-button-effect"><span></span></span>
                              </span>
                              </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="fc-content" style="position: relative; min-height: 1px;">
                  <div class="fc-view fc-view-month fc-grid" style="position: relative;" unselectable="on">
                    <table class="fc-border-separate" style="width:100%" cellspacing="0">
                      <thead>
                        <tr class="fc-first fc-last">
                          <th class="fc-sun fc-widget-header fc-first" style="width: 65px;">Sun</th>
                          <th class="fc-mon fc-widget-header" style="width: 65px;">Mon</th>
                          <th class="fc-tue fc-widget-header" style="width: 65px;">Tue</th>
                          <th class="fc-wed fc-widget-header" style="width: 65px;">Wed</th>
                          <th class="fc-thu fc-widget-header" style="width: 65px;">Thu</th>
                          <th class="fc-fri fc-widget-header" style="width: 65px;">Fri</th>
                          <th class="fc-sat fc-widget-header fc-last">Sat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="fc-week0 fc-first">
                          <td class="fc-sun fc-widget-content fc-day0 fc-first fc-other-month">
                            <div style="min-height: 52px;">
                              <div class="fc-day-number">26</div>
                              <div class="fc-day-content">
                                <div style="position: relative; height: 35px;">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-mon fc-widget-content fc-day1 fc-other-month">
                            <div>
                              <div class="fc-day-number">27</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-tue fc-widget-content fc-day2 fc-other-month">
                            <div>
                              <div class="fc-day-number">28</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-wed fc-widget-content fc-day3 fc-other-month">
                            <div>
                              <div class="fc-day-number">29</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-thu fc-widget-content fc-day4 fc-other-month">
                            <div>
                              <div class="fc-day-number">30</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-fri fc-widget-content fc-day5 fc-other-month">
                            <div>
                              <div class="fc-day-number">31</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-sat fc-widget-content fc-day6 fc-last">
                            <div>
                              <div class="fc-day-number">1</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="fc-week1">
                          <td class="fc-sun fc-widget-content fc-day7 fc-first">
                            <div style="min-height: 51px;">
                              <div class="fc-day-number">2</div>
                              <div class="fc-day-content">
                                <div style="position: relative; height: 0px;">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-mon fc-widget-content fc-day8">
                            <div>
                              <div class="fc-day-number">3</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-tue fc-widget-content fc-day9">
                            <div>
                              <div class="fc-day-number">4</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-wed fc-widget-content fc-day10">
                            <div>
                              <div class="fc-day-number">5</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-thu fc-widget-content fc-day11">
                            <div>
                              <div class="fc-day-number">6</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-fri fc-widget-content fc-day12">
                            <div>
                              <div class="fc-day-number">7</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-sat fc-widget-content fc-day13 fc-last">
                            <div>
                              <div class="fc-day-number">8</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="fc-week2">
                          <td class="fc-sun fc-widget-content fc-day14 fc-first">
                            <div style="min-height: 51px;">
                              <div class="fc-day-number">9</div>
                              <div class="fc-day-content">
                                <div style="position: relative; height: 0px;">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-mon fc-widget-content fc-day15">
                            <div>
                              <div class="fc-day-number">10</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-tue fc-widget-content fc-day16">
                            <div>
                              <div class="fc-day-number">11</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-wed fc-widget-content fc-day17">
                            <div>
                              <div class="fc-day-number">12</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-thu fc-widget-content fc-day18">
                            <div>
                              <div class="fc-day-number">13</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-fri fc-widget-content fc-day19">
                            <div>
                              <div class="fc-day-number">14</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-sat fc-widget-content fc-day20 fc-last">
                            <div>
                              <div class="fc-day-number">15</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="fc-week3">
                          <td class="fc-sun fc-widget-content fc-day21 fc-first">
                            <div style="min-height: 51px;">
                              <div class="fc-day-number">16</div>
                              <div class="fc-day-content">
                                <div style="position: relative; height: 54px;">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-mon fc-widget-content fc-day22">
                            <div>
                              <div class="fc-day-number">17</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-tue fc-widget-content fc-day23">
                            <div>
                              <div class="fc-day-number">18</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-wed fc-widget-content fc-day24">
                            <div>
                              <div class="fc-day-number">19</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-thu fc-widget-content fc-day25">
                            <div>
                              <div class="fc-day-number">20</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-fri fc-widget-content fc-day26 fc-state-highlight fc-today">
                            <div>
                              <div class="fc-day-number">21</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-sat fc-widget-content fc-day27 fc-last">
                            <div>
                              <div class="fc-day-number">22</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="fc-week4">
                          <td class="fc-sun fc-widget-content fc-day28 fc-first">
                            <div style="min-height: 51px;">
                              <div class="fc-day-number">23</div>
                              <div class="fc-day-content">
                                <div style="position: relative; height: 35px;">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-mon fc-widget-content fc-day29">
                            <div>
                              <div class="fc-day-number">24</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-tue fc-widget-content fc-day30">
                            <div>
                              <div class="fc-day-number">25</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-wed fc-widget-content fc-day31">
                            <div>
                              <div class="fc-day-number">26</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-thu fc-widget-content fc-day32">
                            <div>
                              <div class="fc-day-number">27</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-fri fc-widget-content fc-day33">
                            <div>
                              <div class="fc-day-number">28</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-sat fc-widget-content fc-day34 fc-last">
                            <div>
                              <div class="fc-day-number">29</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="fc-week5 fc-last">
                          <td class="fc-sun fc-widget-content fc-day35 fc-first">
                            <div style="min-height: 53px;">
                              <div class="fc-day-number">30</div>
                              <div class="fc-day-content">
                                <div style="position: relative; height: 0px;">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-mon fc-widget-content fc-day36 fc-other-month">
                            <div>
                              <div class="fc-day-number">1</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-tue fc-widget-content fc-day37 fc-other-month">
                            <div>
                              <div class="fc-day-number">2</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-wed fc-widget-content fc-day38 fc-other-month">
                            <div>
                              <div class="fc-day-number">3</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-thu fc-widget-content fc-day39 fc-other-month">
                            <div>
                              <div class="fc-day-number">4</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-fri fc-widget-content fc-day40 fc-other-month">
                            <div>
                              <div class="fc-day-number">5</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          <td class="fc-sat fc-widget-content fc-day41 fc-last fc-other-month">
                            <div>
                              <div class="fc-day-number">6</div>
                              <div class="fc-day-content">
                                <div style="position:relative">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="position:absolute;z-index:8;top:0;left:0">
                      <div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 393px; width: 57px; top: 44px;">
                        <div class="fc-event-inner fc-event-skin"><span class="fc-event-title">All Day Event</span></div>
                        <div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                      </div>
                      <div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right"
                        style="position: absolute; z-index: 8; left: 3px; width: 253px; top: 207px;">
                        <div class="fc-event-inner fc-event-skin"><span class="fc-event-title">Long Event</span></div>
                        <div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                      </div>
                      <div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right"
                        style="position: absolute; z-index: 8; left: 328px; width: 58px; top: 207px;">
                        <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">10:30a</span><span class="fc-event-title">Meeting</span></div>
                        <div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                      </div>
                      <div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right"
                        style="position: absolute; z-index: 8; left: 393px; width: 57px; top: 207px;">
                        <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">7p</span><span class="fc-event-title">Birthday Party</span></div>
                        <div
                          class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                    </div>
                    <div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 328px; width: 58px; top: 226px;">
                      <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">12p</span><span class="fc-event-title">Lunch</span></div>
                      <div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                    </div>
                    <div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 133px; width: 58px; top: 226px;">
                      <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">4p</span><span class="fc-event-title">Repeating Event</span></div>
                      <div
                        class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                  </div>
                  <a href="http://google.com/" class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right"
                    style="position: absolute; z-index: 8; left: 328px; width: 122px; top: 285px;">
                    <div class="fc-event-inner fc-event-skin"><span class="fc-event-title">Click for Google</span></div>
                    <div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                  </a>
                  <div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 133px; width: 58px; top: 285px;">
                    <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">4p</span><span class="fc-event-title">Repeating Event</span></div>
                    <div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    </section>
    </div>
    </div>
  </section>
</section>