<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="timeline timeline-line-dotted">
                <span class="timeline-label">
                        <span class="label label-primary">17.03.2016</span>
                </span>
                <div class="timeline-item">
                    <div class="timeline-point timeline-point-success">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>Renegociação Dívida</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Apartamento 53 Edifício B, Montante: R$ 430,02</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">17.03.2016 10:00</p>
                        </div>
                    </div>
                </div>
                <span class="timeline-label">
                        <span class="label label-primary">09.03.2016</span>
                </span>

                <div class="timeline-item">
                    <div class="timeline-point timeline-point-success">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>Renegociação Dívida</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Apartamento 14 Edifício A, Montante: R$ 830,02</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">08.02.2016 12:00</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-point timeline-point-danger">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>Multa - Queda de objetos</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Apartamento 17 Edifício B.Objeto lançado pela janela. Multa R$ 94,00</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">08.02.2016 11:30</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-point timeline-point-danger">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>Emegergência Médica</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Apartamento 11 Edifício A. Samu Acionado</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">08.02.2016 11:30</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>