<div class="login-img3-body">
  <div class="container">
    <form class="login-form" [formGroup]="formLogin">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" class="form-control" placeholder="Usuário" autofocus formControlName="username">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" class="form-control" placeholder="Senha" formControlName="password">
        </div>
        <label class="checkbox">
                <input type="checkbox" value="remember-me"> Lembrar-me
                <span class="pull-right"> <a href="#"> Esqueceu a senha?</a></span>
            </label>
        <button class="btn btn-primary btn-lg btn-block" (click)="login()" type="submit">Login</button>
        <button class="btn btn-info btn-lg btn-block" type="submit">Cadastrar-se</button>
        <br>
        <div *ngIf="error.hasError" class="alert alert-danger">
          <strong>Falha!</strong> Usuário/Senha inválidos!
        </div>
      </div>
    </form>
  </div>
</div>